{% extends "chats/layout.html" %}

{% block head %}
    <title>Chats</title>
    <style>

    </style>
{% endblock %}

{% block body %}
    <h3>Chat</h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr />
    <p>Iusto perspiciatis exercitationem quis, corporis dolorum quasi corrupti.</p>
    <hr />
    <p>Debitis consequuntur exercitationem alias necessitatibus libero.</p>
    <hr />
    <p>Aliquid id illo ducimus quos provident officia pariatur!</p>
    <hr />
    <p>Et eligendi labore minus tenetur quia asperiores sapiente?</p>
    <hr />
    <p>Porro praesentium nulla eos cumque veritatis ipsam aliquam.</p>
    <hr />
    <p>Hic dicta nesciunt eligendi facilis cumque nam ut?</p>
    <hr />
    <p>Placeat eligendi illum eum iste sint adipisci blanditiis?</p>
    <hr />

    <a href="{% url 'chats:index' %}">Back</a>
{% endblock %}