{% extends "chats_list/layout.html" %}

{% block head %}
    <title>Chats</title>
{% endblock %}

{% block body %}
    <h3>Chats</h3>

    <ul>
        <li><a href="#">Lorem, ipsum dolor.</a></li>
        <li><a href="#">Neque, saepe incidunt.</a></li>
        <li><a href="#">Officiis, recusandae deleniti.</a></li>
        <li><a href="#">Atque, libero culpa?</a></li>
        <li><a href="#">Est, culpa consequuntur.</a></li>
        <li><a href="#">Quidem, ad unde?</a></li>
        <li><a href="#">Iure, iusto voluptate?</a></li>
        <li><a href="#">Doloribus, repudiandae a?</a></li>
        <li><a href="#">Fugiat, modi odit.</a></li>
        <li><a href="#">Eius, natus repellat.</a></li>
        <li><a href="#">Molestias, facilis placeat!</a></li>
        <li><a href="#">Fuga, vero at.</a></li>
        <li><a href="#">Quo, maxime reprehenderit.</a></li>
        <li><a href="#">Accusamus, quae et.</a></li>
        <li><a href="#">Perspiciatis, ea esse.</a></li>
        <li><a href="#">Maiores, ex soluta?</a></li>
        <li><a href="#">Commodi, quis ab.</a></li>
        <li><a href="#">Nisi, accusantium nobis!</a></li>
    </ul>
{% endblock %}