{% extends "chats_list/layout.html" %}

{% block head %}
    <title>Chats</title>
{% endblock %}

{% block body %}
    <h3>Chats</h3>

    <ul>
        <li><a href="{% url 'chat:index' %}">Lorem, ipsum dolor.</a></li>
        <li><a href="{% url 'chat:index' %}">Neque, saepe incidunt.</a></li>
        <li><a href="{% url 'chat:index' %}">Officiis, recusandae deleniti.</a></li>
        <li><a href="{% url 'chat:index' %}">Atque, libero culpa?</a></li>
        <li><a href="{% url 'chat:index' %}">Est, culpa consequuntur.</a></li>
        <li><a href="{% url 'chat:index' %}">Quidem, ad unde?</a></li>
        <li><a href="{% url 'chat:index' %}">Iure, iusto voluptate?</a></li>
        <li><a href="{% url 'chat:index' %}">Doloribus, repudiandae a?</a></li>
        <li><a href="{% url 'chat:index' %}">Fugiat, modi odit.</a></li>
        <li><a href="{% url 'chat:index' %}">Eius, natus repellat.</a></li>
        <li><a href="{% url 'chat:index' %}">Molestias, facilis placeat!</a></li>
        <li><a href="{% url 'chat:index' %}">Fuga, vero at.</a></li>
        <li><a href="{% url 'chat:index' %}">Quo, maxime reprehenderit.</a></li>
        <li><a href="{% url 'chat:index' %}">Accusamus, quae et.</a></li>
        <li><a href="{% url 'chat:index' %}">Perspiciatis, ea esse.</a></li>
        <li><a href="{% url 'chat:index' %}">Maiores, ex soluta?</a></li>
        <li><a href="{% url 'chat:index' %}">Commodi, quis ab.</a></li>
        <li><a href="{% url 'chat:index' %}">Nisi, accusantium nobis!</a></li>
    </ul>

    <a href="{% url 'index' %}">Back</a>

{% endblock %}